<nav>
  <div class="logo"><img src="..\..\Codeeasy-logo.png"></div>
  <ol>
    <li routerLink="Home"><a >Home</a></li>
    <li routerLink="About-us"><a>About Us</a></li>
    <li routerLink="Courses"><a>Courses </a></li>
    <li routerLink="Placements"><a  >Placements </a></li>
    <li routerLink="Workshops-and-Events"><a>Workshops & Events</a></li>
    <li routerLink="Resources"><a  >Resources </a></li>
    <li routerLink="Contact-us"><a >Contact Us</a></li>
    <li routerLink="Enroll-now"><a >Enroll Now</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>